<div class="container">
    <div class="row">
        <p class="text-modify">&nbsp;<span class="fa fa-angle-right">&nbsp;</span>Answer must be a single word or a phrase. Sentences are not allowed.</p>
    </div>
    <div class="row">
        <p class="text-modify">&nbsp;<span class="fa fa-angle-right">&nbsp;</span>Answers can be words or formulas for eg- H2O</p>
    </div>
    <div class="row">
        <p class="text-modify">&nbsp;<span class="fa fa-angle-right">&nbsp;</span>Hints can be used if you are stuck in any question. Maximum of 3 hints can be used per day which will get reset on the next day.</p>
    </div>
    <div class="row">
        <p class="text-modify">&nbsp;<span class="fa fa-angle-right">&nbsp;</span>You can skip a maximum of one question per day for which you will not be awarded any points.</p>
    </div>
    <div class="row">
        <p class="text-modify">&nbsp;<span class="fa fa-angle-right">&nbsp;</span>The points will be awareded as follows-</p>
        <p class="text-modify">&nbsp;&nbsp;&nbsp;&nbsp;1. If the answer is correct in 1st attempt – 10 points</p>
        <p class="text-modify">&nbsp;&nbsp;&nbsp;&nbsp;2. If the answer is correct in 2nd attempt – 9 points</p>
        <p class="text-modify">&nbsp;&nbsp;&nbsp;&nbsp;3. If the answer is correct in 3rd attempt – 8 points</p>
        <p class="text-modify">&nbsp;&nbsp;&nbsp;&nbsp;4. If the answer is correct in 4th attempt – 7 points</p>
        <p class="text-modify">&nbsp;&nbsp;&nbsp;&nbsp;5. If the answer is correct in 5th attempt – 6 points</p>
        <p class="text-modify">&nbsp;&nbsp;&nbsp;&nbsp;6. If the answer is correct after 5th attempt – 5 points</p>
    </div>
</div>