<div class="container">
    <h1 class="text=nodify">Level {{level}}</h1>
    <div>
        <div>{{qsn}}</div>
    </div>
    <div class="answer">
        <div>
            <input name="answer" class="answer-text" type="text" placeholder="Answer">
            <button type="submit" class="submitbtn btn btn-primary width100 mt40">Submit</button>
            <button type="submit" class="submitbtn btn btn-primary"(click)="showHint()">Hint</button>
            <button type="submit" class="submitbtn btn btn-primary adjust-btn">Skip</button>
            <input name="answer" class="answer-text" type="text" disabled [hidden]="!shint" >
        </div>
    </div>
</div>

