<nav class="navbar navbar-expand-sm modify fixed-top">
    <a class="navbar-brand text-modify" routerLink="home">Alchemist</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-align-justify"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active">
        <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="rules">Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="leaderboard">Leaderboard</a>
        </li>
    </ul>
</div>
</nav>

<router-outlet></router-outlet>