<div class="container-fluid mb-5">
    <form #qsnForm (ngSubmit)="onSubmit(qsnForm)">
        <div class="form-group">
            <label for="qsnno">Qsn No</label>
            <input id="qsnno" type="text" required class="form-control" ngModel name="qsnno" >
        </div>

        <div class="form-group">
            <label for="qsn">Qsn</label>
            <input id="qsn" type="text" required class="form-control" ngModel name="qsn">
        </div>

        <div class="form-group">
            <label for="ans">Ans</label>
            <input id="ans" type="text" required class="form-control" ngModel name="ans">
        </div>

        <div class="form-group">
            <label for="hint1">Hint1</label>
            <input id="hint1" type="text" required class="form-control" ngModel name="hint1">
        </div>

        <div class="form-group">
            <label for="hint2">Hint2</label>
            <input id="hint2" type="text" required class="form-control" ngModel name="hint2">
        </div>

        <div class="form-group">
            <label for="hint3">Hint3</label>
            <input id="hint3" type="text" class="form-control" ngModel name="hint3">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>

